@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500&display=swap);
:root {
  --bg: #fff;
  --primary: rgba(34, 34, 34, 1);
  --secondary: rgba(99, 43, 220, 1);
  --text-color: rgba(31, 31, 31, 1)
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--primary);
  line-height: 1;
  font-family: Montserrat,sans-serif;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  width: 100%
}
.button {
  display: flex;
  justify-content: center;
  gap: .25rem;
  align-items: center;
  padding: 1.125rem 3.75rem;
  background: var(--secondary);
  transition: all .3s ease;
  border-radius: .75rem;
  width: -webkit-max-content;
  width: max-content;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500
}
.button--fw {
  width: 100%
}
.button svg {
  position: absolute;
  top: -2px;
  transition: opacity .3s,-webkit-transform .3s;
  transition: transform .3s,opacity .3s;
  transition: transform .3s,opacity .3s,-webkit-transform .3s
}
.button svg:last-child {
  -webkit-transform: translate(-90%,90%);
  transform: translate(-90%,90%);
  opacity: 0
}
.button span {
  position: relative;
  padding-right: 1.625rem
}
.button:hover svg:last-child {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1
}
.button:hover svg:first-child {
  -webkit-transform: translate(90%,-90%);
  transform: translate(90%,-90%);
  opacity: 0
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  width: 100%;
  display: block;
  padding-bottom: .75rem;
  border-bottom: 1px solid #1f1f1f;
  caret-color: inherit;
  outline: 0;
  transition: all .3s ease;
  background: rgba(0,0,0,0)
}
.input::-webkit-input-placeholder {
  color: rgba(31,31,31,.7)
}
.input:-ms-input-placeholder {
  color: rgba(31,31,31,.7)
}
.input::-ms-input-placeholder {
  color: rgba(31,31,31,.7)
}
.input::placeholder {
  color: rgba(31,31,31,.7)
}
.input._form-focus {
  border-color: var(--primary)
}
.input._form-error {
  border-color: rgba(255,0,0,.3)
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea {
  min-height: 6.125rem
}
body {
  background-color: var(--bg)
}
a {
  transition: all .3s ease
}
.section {
  position: relative
}
.section__h1 {
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase
}
.section__title {
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase
}
.section__title--center {
  text-align: center
}
.section__text {
  font-size: .875rem;
  line-height: 1.2;
  color: var(--text-color)
}
.section__block {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.section__content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.25rem
}
.section__col {
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.section__img-wrap--center {
  margin: 0 auto
}
.section__col-name {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2
}
textarea {
  resize: vertical
}
.info-page__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.info-page ul li {
  list-style-type: disc!important
}
.info-page ol {
  list-style: none
}
.info-page li {
  list-style-position: inside
}
.info-page a {
  display: inline-block;
  margin-bottom: 0!important
}
.info-page li,
.info-page p,
.info-page span {
  line-height: 1.2
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0);
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
  z-index: 20;
  transition: all .3s ease
}
.header__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3.75rem
}
.footer__nav,
.header__nav {
  display: flex;
  align-items: center;
  gap: 1.875rem
}
.footer__link,
.header__link {
  font-size: .875rem;
  line-height: 1.2;
  color: var(--text-color)
}
.footer__link:hover,
.header__link:hover {
  color: #b2b2b2
}
.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.875rem
}
.footer__container {
  position: relative;
  width: 100%
}
.footer__copyright {
  font-size: .875rem;
  line-height: 1.2;
  color: rgba(31,31,31,.7)
}
.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  align-items: center
}
.hero__decor {
  z-index: -1
}
.hero__decor img {
  aspect-ratio: 510/588;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 100%;
  margin-left: auto;
  width: 100%;
  -o-object-position: right;
  object-position: right
}
.hero__title-block {
  display: flex;
  flex-direction: column
}
.hero__title-block span {
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.hero__info {
  max-width: 22.625rem;
  width: 100%
}
.hero__info p,
.hero__info ul {
  font-size: 14px;
  line-height: 1.2
}
.hero__info ul li {
  list-style-type: "-";
  list-style-position: inside
}
.hero__info ul:not(:last-child) {
  margin-bottom: 1rem
}
.clients__container {
  display: grid;
  grid-template-columns: 1fr 22vw;
  gap: 1.5rem
}
.clients .section__img-wrap {
  z-index: -1
}
.clients__slider {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 1.25rem;
  align-items: center
}
.contact__container {
  display: grid;
  grid-template-columns: 1fr 35.625rem;
  gap: 2.5rem;
  align-items: center
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  width: 100%
}
.contact__form label {
  position: relative;
  width: 100%
}
.contact__success {
  display: none
}
.form__bottom {
  width: 100%
}
.contact__form.sending {
  position: relative
}
.contact__form.sending .contact__success {
  display: block;
  font-size: 1.125rem
}
@media (min-width:47.99875em) {
  .section:not(.hero) {
    padding-top: 6.25rem
  }
  .section:last-child {
    padding-bottom: 6.25rem
  }
  .info-page__content {
    max-width: 90%
  }
  .hero__container {
    padding-top: 4.625rem;
    padding-bottom: 4.625rem
  }
  .hero__decor {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 37vw
  }
  .hero__content .section__text {
    max-width: 82%
  }
  .clients__slider {
    padding-bottom: 4.375rem
  }
}
@media (min-width:61.99875em) {
  .clients .section__img-wrap img {
    position: absolute;
    right: 0;
    top: 6.25rem
  }
}
@media (min-width:500px) {
  .hero__content {
    max-width: 54vw
  }
}
@media (min-width:75em) {
  .section__h1 {
    font-size: 10rem
  }
  .section__title {
    font-size: 6.25rem
  }
  .section__col-name {
    font-size: 3.125rem
  }
  .info-page {
    padding-bottom: 6.25rem
  }
  .hero__title-block span {
    font-size: 1.875rem
  }
}
@media (max-width:1260px) {
  [class*=__container] {
    padding-left: 1.875rem;
    padding-right: 1.875rem
  }
}
@media (max-width:500px) {
  .section__content {
    grid-template-columns: 1fr
  }
}
@media (max-width:400px) {
  .hero__container {
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start
  }
}
@media (max-width:61.99875em) {
  .clients .section__img-wrap {
    margin-right: -30px
  }
  .clients .section__img-wrap img {
    width: calc(100% + 30px)
  }
  .contact__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem
  }
}
@media (max-width:47.99875em) {
  [class*=__container] {
    padding-left: .9375rem;
    padding-right: .9375rem
  }
  .section:not(.hero) {
    padding-top: 5rem
  }
  .section:last-child {
    padding-bottom: 5rem
  }
  .hero__decor {
    width: 100%
  }
  .hero__decor img {
    max-height: 24.875rem;
    margin-right: -15px
  }
  .clients__container {
    grid-template-columns: 1fr;
    gap: 1.25rem
  }
  .clients .section__img-wrap {
    margin-right: -15px
  }
  .clients .section__img-wrap img {
    display: block;
    margin-left: auto;
    max-height: 300px;
    -o-object-position: right;
    object-position: right;
    -o-object-fit: contain;
    object-fit: contain;
    width: calc(100% + 15px)
  }
  .contact__container {
    grid-template-columns: 1fr;
    align-items: flex-start
  }
}
@media (max-width:29.99875em) {
  .section__title {
    overflow-wrap: break-word
  }
  .section__img-wrap {
    max-width: 100%
  }
  .section__img-wrap img {
    width: 100%
  }
  .header__container {
    flex-direction: column;
    gap: 1.25rem
  }
  .footer__nav {
    flex-direction: column;
    align-items: flex-start
  }
  .contact__form .button {
    width: 100%
  }
}
@media (max-width:22.5em) {
  .section__h1 {
    font-size: 4.375rem
  }
  .section__title {
    font-size: 3.125rem
  }
  .section__col-name {
    font-size: 2.25rem
  }
  .info-page {
    padding-bottom: 5rem
  }
  .hero__title-block span {
    font-size: 1.25rem
  }
}
@media (min-width:22.5em)and (max-width:75em) {
  @supports (font-size:clamp(4.375rem ,1.9642857143rem + 10.7142857143vw ,10rem)) {
    .section__h1 {
      font-size: clamp(4.375rem ,1.9642857143rem + 10.7142857143vw ,10rem)
    }
  }
  @supports not (font-size:clamp(4.375rem ,1.9642857143rem + 10.7142857143vw ,10rem)) {
    .section__h1 {
      font-size: calc(4.375rem + 5.625*(100vw - 22.5rem)/ 52.5)
    }
  }
  @supports (font-size:clamp(3.125rem ,1.7857142857rem + 5.9523809524vw ,6.25rem)) {
    .section__title {
      font-size: clamp(3.125rem ,1.7857142857rem + 5.9523809524vw ,6.25rem)
    }
  }
  @supports not (font-size:clamp(3.125rem ,1.7857142857rem + 5.9523809524vw ,6.25rem)) {
    .section__title {
      font-size: calc(3.125rem + 3.125*(100vw - 22.5rem)/ 52.5)
    }
  }
  @supports (font-size:clamp(2.25rem ,1.875rem + 1.6666666667vw ,3.125rem)) {
    .section__col-name {
      font-size: clamp(2.25rem ,1.875rem + 1.6666666667vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,1.875rem + 1.6666666667vw ,3.125rem)) {
    .section__col-name {
      font-size: calc(2.25rem + .875*(100vw - 22.5rem)/ 52.5)
    }
  }
  @supports (padding-bottom:clamp(5rem ,4.4642857143rem + 2.380952381vw ,6.25rem)) {
    .info-page {
      padding-bottom: clamp(5rem ,4.4642857143rem + 2.380952381vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(5rem ,4.4642857143rem + 2.380952381vw ,6.25rem)) {
    .info-page {
      padding-bottom: calc(5rem + 1.25*(100vw - 22.5rem)/ 52.5)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.9821428571rem + 1.1904761905vw ,1.875rem)) {
    .hero__title-block span {
      font-size: clamp(1.25rem ,.9821428571rem + 1.1904761905vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.9821428571rem + 1.1904761905vw ,1.875rem)) {
    .hero__title-block span {
      font-size: calc(1.25rem + .625*(100vw - 22.5rem)/ 52.5)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background: rgba(99,43,220,.8)
  }
}